.locations-card-content {
  &.reset-password-form-content {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .reset-password-form-container {
      .reset-password-header p {
        text-align: center;
        padding-bottom: 10px;
        font-size: 20px;
        padding: 0 30px 10px 30px;
        justify-content: center;
      }
      .reset-password-body {
        .input-container {
          align-items: center;
          justify-content: center;
        }
        .disclaimer {
          display: flex;
          margin-top: 30px;
          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  &.reset-password-content {
    .reset-password-container {
      padding: 15% 8%;
      display: flex;
      flex-direction: column;
      height: 100%;

      .exit-icon-container {
        position: absolute;
        right: 30px;
        top: 20px;
        cursor: pointer;
      }

      .reset-password-header {
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
        text-align: center;

        p.main-header {
          font-size: 20px;
        }
      }

      .reset-password-body {
        .reset-password-link {
          font-size: 14px;
          color: $color-theme;
          font-weight: 500;
        }
      }
    }
  }
}

.locations-card-footer {
  display: flex;
  padding: 0 30px;
  border-top: 1px solid #bbbbbb;
  height: 83px;
  width: 100%;
  bottom: 0;
  left: 0;
  align-items: center;
  .reset-passsword-error-message {
    margin-left: auto;
    color: #b00020;
    font-size: 12px;
    padding-left: 15px;
    margin-bottom: 0;
  }
  .btn-container {
    display: flex;
    align-items: center;
    .cancel-button {
      text-decoration: underline;
    }
  }
}
