
.password-reset-main-layout{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .password-reset-container{
        display: flex;
        flex-direction: column;
        width: 30%;
        min-width: 320px;
        max-width: 600px;
        align-items: stretch;

        img{
            width: 110px;
            margin-bottom: 40px;
            align-self: center;
        }

        h3{
            align-self: center;
            margin-bottom: 40px;
            font-size: 20px;
        }

        .error-message{
            min-height: 28px;
        }

        .reset-password-field{
            margin-bottom: 15px;
            width: 100%;
        }

        button{
            width: 100%;
        }
    }
}

