$white: #fff;
$black: #000;
$color-sixty-percent-black: rgba(0,0,0,0.6);
$color-thirty-percent-black: rgba(0,0,0,0.3);
$color-theme: #3d98ff;
$light-color-theme: #B2D3FB;
$dropdown-item-hover: #DEEBFF;
$light-color-theme-foreground: #BCDAFB;
$color-theme-sec: rgba(61, 152, 255, 0.15);
$color-bg: rgb(215, 225, 233);
$color-bg-grey: #ebecf0;
$color-dark-grey: #788896;
$fifty-percent-grey: #80808080;
$color-error: #b00020;
$color-error2: #AB0000;
$color-circle: rgb(233, 148, 54);
$color-dropdown: rgb(102, 117, 131);
$color-locations-item: #828282;
$color-locations-item-border: #979797;
$color-locations-item-selected: #7F7F7F;
$color-locations-item-selected-background:#EAF4FF;
$color-locations-item-divider:#BBBBBB;
$color-status-blue: #3790F4;
$color-bg-graphic-dark-blue: #2940A0;
$color-bg-graphic-light-blue: #E9F1FB;
$color-disable-next: rgba(204,206,211,0.9);
$header-button-inactive-border: #AAAAAA;
$header-button-inactive-text: #7B7B7B;
$disabled-grey: #B1B1B1;
$color-cancelled-order-label-bg: #F3DAD9;
$color-help-button: #797EF6;
